## 引入公共宏定义
$!{define.vm}

## 设置文件保存路径与后缀
#save("/model/entity", ".java")

## 设置包名后缀
#setPackageSuffix("model.entity")

#set($hasDeleted = false)
#set($hasLocalDateTime = false)
#foreach($column in $tableInfo.fullColumn)
    #if($column.name.equals("deleted"))
        #set($hasDeleted = true)
    #end
    #if(!$column.name.equals("createBy") && !$column.name.equals("createTime") && !$column.name.equals("updateBy") && !$column.name.equals("updateTime") && !$column.name.equals("deleteBy") && !$column.name.equals("deleteTime") && $tool.getClsNameByFullName($column.type).equals("LocalDateTime"))
        #set($hasLocalDateTime = true)
    #end
#end

## 自动导入字段类型
$!{autoImport.vm}
#if($hasDeleted)
import com.baomidou.mybatisplus.annotation.TableLogic;
#end
import com.whim.mybatisplus.model.entity.BaseEntity;
import lombok.Data;
import lombok.EqualsAndHashCode;

import java.io.Serial;
import java.io.Serializable;
#if($hasLocalDateTime)
import java.time.LocalDateTime;
#end

/**
 * @author $!{author}
 * @date $!{time.currTime("yyyy/MM/dd")}
 * @description $!{tableInfo.comment}实体类
 */
@Data
@EqualsAndHashCode(callSuper = true)
public class $!{tableInfo.name} extends BaseEntity implements Serializable {
    @Serial
    private static final long serialVersionUID = $!{tool.serial()};

#foreach($column in $tableInfo.fullColumn)
    #if(!$column.name.equals("createBy") && !$column.name.equals("createTime") && !$column.name.equals("updateBy") && !$column.name.equals("updateTime") && !$column.name.equals("deleteBy") && !$column.name.equals("deleteTime"))
    /**
     * $!{column.comment}
     */
        #if($column.name.equals("deleted"))
    @TableLogic
        #end
    private $!{tool.getClsNameByFullName($column.type)} $!{column.name};

    #end
#end
}
