<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whim.system.mapper.SysPermissionMapper">

    <resultMap type="com.whim.system.model.entity.SysPermission" id="SysPermissionMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="visible" column="visible" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getPermissionCodeByUserId" resultType="java.lang.String">
        select sp.code
        from sys_permission as sp
                 join sys_role_permission as srp on sp.id = srp.permission_id
                 join sys_role as sr on srp.role_id = sr.id
                 join sys_user_role as sur on sr.id = sur.role_id
        where sur.user_id = #{userId}
    </select>
    <select id="getMenuTreeByUserId" resultType="com.whim.system.model.entity.SysPermission"
            parameterType="java.lang.Long">
        SELECT DISTINCT sp.id,
                        sp.name,
                        sp.title,
                        sp.parent_id,
                        sp.type,
                        sp.path,
                        sp.component,
                        sp.keep_alive,
                        sp.sort,
                        sp.code,
                        sp.visible,
                        sp.status,
                        sp.icon,
                        sp.redirect,
                        sp.remark,
                        sp.create_by,
                        sp.create_time,
                        sp.update_by,
                        sp.update_time,
                        sp.deleted
        FROM sys_permission sp
                 INNER JOIN sys_role_permission srp ON sp.id = srp.permission_id
                 INNER JOIN sys_role sr ON srp.role_id = sr.id AND sr.status = '0'
                 INNER JOIN sys_user_role sur ON sr.id = sur.role_id AND sur.user_id = #{userId}
        WHERE sp.type IN ('1', '2', '4')
        ORDER BY sp.parent_id, sp.sort
    </select>


</mapper>

