<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whim.system.mapper.SysPostMapper">
    <select id="existsTenantPostCode" resultType="boolean">
        SELECT EXISTS (
            SELECT 1 FROM sys_post
            WHERE tenant_id = #{tenantId}
              AND post_code = #{postCode}
            <if test="excludedPostId != null">
              AND id != #{excludedPostId}
            </if>
        )
    </select>

    <update id="softDeleteScoped">
        UPDATE sys_post post
        SET post.deleted = 1,
            post.delete_by = #{scope.userId},
            post.delete_time = CURRENT_TIMESTAMP
        WHERE post.id = #{postId}
          AND post.tenant_id = #{scope.tenantId}
          AND post.deleted = 0
          AND NOT EXISTS (
              SELECT 1 FROM sys_user_post binding
              WHERE binding.post_id = post.id
                AND binding.tenant_id = post.tenant_id
                AND binding.deleted = 0
          )
        <if test="!scope.all">
            AND (
            <choose>
                <when test="scope.deptIds != null and !scope.deptIds.isEmpty()">
                    post.dept_id IN
                    <foreach collection="scope.deptIds" item="deptId" open="(" separator="," close=")">
                        #{deptId}
                    </foreach>
                    <if test="scope.self">
                        OR post.create_by = #{scope.userId}
                    </if>
                </when>
                <when test="scope.self">
                    post.create_by = #{scope.userId}
                </when>
                <otherwise>
                    1 = 0
                </otherwise>
            </choose>
            )
        </if>
    </update>
</mapper>
