<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whim.system.mapper.SysRoleMapper">
    <select id="selectRoleCodeSetByUserId" resultType="java.lang.String">
        SELECT DISTINCT r.role_code
        FROM sys_user_role ur
                 INNER JOIN sys_role r
                            ON r.id = ur.role_id
                                AND (r.tenant_id = ur.tenant_id OR r.tenant_id IS NULL)
                                AND r.deleted = 0
                                AND r.status = 0
        WHERE ur.user_id = #{userId}
          AND ur.deleted = 0
    </select>

    <select id="selectRoleInfoListByUserId" resultType="com.whim.core.auth.model.RoleInfo">
        SELECT DISTINCT r.id AS role_id,
                        r.role_name,
                        r.role_code,
                        r.data_scope
        FROM sys_user_role ur
                 INNER JOIN sys_role r
                            ON r.id = ur.role_id
                                AND (r.tenant_id = ur.tenant_id OR r.tenant_id IS NULL)
                                AND r.deleted = 0
                                AND r.status = 0
        WHERE ur.user_id = #{userId}
          AND ur.deleted = 0
          AND r.role_code IS NOT NULL
          AND r.role_code != ''
          AND r.role_code IS NOT NULL
          AND r.role_code != ''
    </select>
</mapper>

