<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whim.system.mapper.SysUserMapper">
    <resultMap id="authUserResultMap" type="com.whim.system.model.entity.SysUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="avatar" property="avatar"/>
        <result column="name" property="name"/>
        <result column="status" property="status"/>
        <result column="default_tenant_id" property="defaultTenantId"/>
    </resultMap>

    <select id="selectByUsername" resultMap="authUserResultMap">
        SELECT id,
               username,
               password,
               avatar,
               name,
               status,
               default_tenant_id
        FROM sys_user
        WHERE username = #{username}
          AND deleted = 0
        LIMIT 1
    </select>
</mapper>

